body{
    background-color: #585858;
}

li {
    display:inline;
    padding: 5px;
    display:inline;
    list-style-type:none;
}

li :hover {
    transform: scale(1.1)
}
ul{
    text-align:center;
    list-style-type:none;
    padding: 0px;
}

img {

    transition: transform .2s;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius:15px 15px 15px 15px;
    padding: 3px;
}

a {
    color:white;
    text-decoration:none;
}

h1 {
    color:white;
    text-align:center;
}

h1{
    padding-top: 15px;
}

.container {
    background-color: #2b2b2b;
    padding-bottom: 6px;
    border-radius:15px 15px 15px 15px;
    margin: 1em;
    float: left;
    border: 1px solid;
}

section {
    width: 75%;
    display:flex;
    margin-left: 12%;
  }

#net {
    background-color: #1f1f1f;
  }

